.bg-animated-grid {
    position: relative;
    overflow: hidden; 
  }
  
  .bg-animated-grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
    background-size: 30px 30px;
    animation: animate-grid 10s linear infinite;
    opacity: 0.5;
  }
  
  @keyframes animate-grid {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }